name="First Case"                    # name of this test case
before="mkdir -p output"             # script run before testing script
script="echo $name > output/1.txt"   # testing script
after="echo Finish"                  # script run after compare
compare=("expected/:output/")        # files to be compared, each pair separated by a colon
